.about-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.about-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.number-image {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.about-description {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

.additional-info {
    font-size: 1em;
    color: #666;
    text-align: left;
}

    .additional-info ul {
        padding-left: 20px;
    }
