@page "/about"
<h3>About</h3>
<p>
    This student organization is dedicated to the goal of improving group members’ technology, engineering, collaboration, and coding skills by working on group software and hardware projects and training for and participating in computer-related competitions, events, and activities.
</p>
@code {
    

}
