@page "/"

<PageTitle>Home</PageTitle>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome to Hackerspace!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-lg-3"/>
        <div class="col-md-8 col-lg-6">            
            <img src="/images/picture of hackerspace pi wars winners.jpeg" class="img-fluid" alt="Image of Hackerspace Pi-Wars team when they wone the competition." />
        </div>
        <div class="col-md-2 col-lg-3" />
    </div>
    <div class="row">
        <div class="col">
            <p>
                This student organization is dedicated to the goal of improving group members’ technology, engineering, collaboration, and coding skills by working on group software and hardware projects and training for and participating in computer-related competitions, events, and activities.
            </p>
        </div>
    </div>
</div>