@page "/suncat-adventures"
@rendermode InteractiveServer
@inject IJSRuntime JS

<div id="unity-container">
    <canvas id="unity-canvas" width="960" height="600"></canvas>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JS.InvokeVoidAsync("unityBoot.start", "/Build");
    }
}
