@page "/suncat-adventures"

<div style="width:960px;height:600px;">
    <iframe src="/games/suncat/index.html"
            style="width:100%;height:110%;border:0;"
            allow="autoplay; fullscreen; gamepad"
            scrolling="no">
    </iframe>
</div>

