@page "/Badges"
@using Shared.Models;
@using System.Security.Claims
@inject HttpClient http
@inject NavigationManager navManager
<h3>Badges</h3>

@if(_badges.Count() == 0)
{
    <p>No badges in database at this time.</p>
}
else
{
    @foreach(Badge badge in _badges)
    {
        <p><a href="/Badge/@badge.Id"><img src="images/@badge.FileName" height="50"/>   @badge.Title</a></p>
    }
}
<AuthorizeView Roles="admin, badgecreator">
    <Authorized><button class="btn btn-primary" type="button" @onclick="OnAddBadgeClicked">Add Badge</button></Authorized>
</AuthorizeView>
@code {
    private List<Badge> _badges = new List<Badge>();

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _badges = await http.GetFromJsonAsync<List<Badge>>(@"https://localhost:7018/api/Badges/") ?? new List<Badge>();
    }

    protected void OnAddBadgeClicked()
    {
        navManager.NavigateTo("/Badge/0");
    }
}
