@page "/Badge/{Id:int}"

@using Shared.Models
@using System.Net.Http.Headers;
@inject HttpClient Http
@inject NavigationManager navManager
@inject IJSRuntime JS

@if (_badge == null)
{
    <p>
        ...loading badge information &nbsp;
        <img src="/images/Spur_gears_animation_blue_small.gif" height="30" />
    </p>
}
else
{
    <AuthorizeView Roles="admin, badgecreator">
        <Authorized>
            <div class="mb-3">
                <img src="UploadedImages/@_badge.FileName" height="50" />
                <FileEdit Filter="image/jpeg, image/png, image/gif" Changed="@OnBadgeImageChanged" />
                <Span>@errorMessage</Span>
            </div>
            <div class="mb-3">
                <label for="titleInput" class="form-label">Title</label>
                <input type="text" class="form-control" id="titleInput" @bind="_badge.Title" placeholder="Title">
            </div>
            <div class="mb-3">
                <label for="descriptionInput" class="form-label">Description (Describe the skill associated with this badge)</label>
                <Markdown @ref="DescriptionMarkdown" class="form-control" id="descriptionInput" @Value="descriptionMarkdown" @*ValueChanged="@OnDescriptionMarkdownValueChanged" *@ />
            </div>
            <div class="mb-3">
                <label for="turnInInstructionsInput" class="form-label">Turn in instructions (Describe what to do to turn in work to be evaluated. Make sure you include what email or teams page to turn work into.)</label>
                <Markdown @ref="TurnInInstructionsMarkdown" class="form-control" id="turnInInstructionsInput" @Value="turnInInstructionsMarkdown" @*ValueChanged="@OnTurnInInstructionsMarkdownValueChanged" *@ />
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="button" @onclick="OnSaveChangesClickedAsync">Save Changes</button>
                <button class="btn btn-danger" type="button" @onclick="OnCancelChangesClickedAsync">Discard Changes</button>
            </div>
        </Authorized>
        <NotAuthorized>
            <BadgeComponent Badge="_badge" />
        </NotAuthorized>
    </AuthorizeView>
}



@code {
    [Parameter]
    public int Id { get; set; }
    private Shared.Models.Badge _badge = new();
    bool showImage = true;
    //[CascadingParameter] public IModalService Modal { get; set; } = default!;
    bool isDisabled = false;
    string testMessage = "";
    private IList<UploadResult> uploadResults = new List<UploadResult>();
    private string errorMessage = "";
    Blazorise.Markdown.Markdown? DescriptionMarkdown { get; set; }
    string descriptionMarkdownText = "";
    Blazorise.Markdown.Markdown? TurnInInstructionsMarkdown { get; set; }
    string turnInInstructionsMarkdownText = "";

    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (Id == 0)
        {
            _badge = null;
        }
        else
        {
            if (Id == -1)
            {
                _badge = new();
            }
            else
            {
                _badge = await Http.GetFromJsonAsync<Shared.Models.Badge>($"/api/Badges/{Id}") ?? new();
            }
            descriptionMarkdownText = _badge.Description;
            turnInInstructionsMarkdownText = _badge.TurnInInstructions;
            if (DescriptionMarkdown != null)
            {
                await DescriptionMarkdown.SetValueAsync(descriptionMarkdownText);
            }
            if (TurnInInstructionsMarkdown != null)
            {
                await TurnInInstructionsMarkdown.SetValueAsync(turnInInstructionsMarkdownText);
            }
            StateHasChanged();
        }
    }

    protected async Task OnSaveChangesClickedAsync()
    {
        _badge.Description = await DescriptionMarkdown.GetValueAsync();
        _badge.TurnInInstructions = await TurnInInstructionsMarkdown.GetValueAsync();
        if (_badge.Id == 0)
        {
            await Http.PostAsJsonAsync<Shared.Models.Badge>($"/api/Badges/", _badge);
        }
        else
        {
            await Http.PutAsJsonAsync<Shared.Models.Badge>($"/api/Badges/", _badge);
        }
        navManager.NavigateTo("/badges");
    }

    protected async Task OnCancelChangesClickedAsync()
    {
        navManager.NavigateTo("/badges");
        await Task.CompletedTask;
    }

    private async Task OnBadgeImageChanged(FileChangedEventArgs e)
    {
        var file = e.Files[0];
        long maxFileSize = 1024 * 1024;
        if (file.Size > maxFileSize)
        {
            errorMessage = "File too large";
            return;
        }
        using var content = new MultipartFormDataContent();
        var fileContent = new StreamContent(file.OpenReadStream(maxFileSize));

        fileContent.Headers.ContentType =
            new MediaTypeHeaderValue(file.Type);

        content.Add(
            content: fileContent,
            name: "\"files\"",
            fileName: file.Name);

        var response = await Http.PostAsync("api/Filesave", content);

        uploadResults = await response.Content.ReadFromJsonAsync<IList<UploadResult>>() ?? new List<UploadResult>();
        if (uploadResults.Count > 0)
        {
            _badge.FileName = uploadResults[0].StoredFileName ?? "";
        }
    }
}
