@page "/Badges"
@using Shared.Models;
@inject IHttpClientFactory HttpClientFactory
@inject PublicClient publicClient
<h3>Badges</h3>

@foreach(Badge badge in _badges)
{
    <p><a href="/Badge/@badge.Id"><img src="images/@badge.FileName" height="50"/>   @badge.Title</a></p>
}
@code {
    private List<Badge> _badges = new List<Badge>();

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        //HttpClient httpClient = HttpClientFactory.CreateClient("BlazorApp.PublicServerAPI");
        //_badges = await httpClient.GetFromJsonAsync<List<Badge>>("/api/Badges") ?? new List<Badge>();
        _badges = await publicClient.Client.GetFromJsonAsync<List<Badge>>("/api/Badges") ?? new List<Badge>();
    }
}
