@page "/Badges"
@using Shared.Models;
@using System.Security.Claims
@inject HttpClient http
@inject NavigationManager navManager
<h3>Badges</h3>

@if(_badges.Count() == 0)
{
    <p>No badges in database at this time.</p>
}
else
{
    @foreach(Shared.Models.Badge badge in _badges)
    {
        <p>
            <a href="/Badge/@badge.Id">
            <img src="UploadedImages/@badge.FileName" height="50" />
            @badge.Title</a>
        </p>
    }
}
<AuthorizeView Roles="admin, badgecreator">
    <Authorized><button class="btn btn-primary" type="button" @onclick="OnAddBadgeClicked">Add Badge</button></Authorized>
</AuthorizeView>
@code {
    private List<Shared.Models.Badge> _badges = new List<Shared.Models.Badge>();

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _badges = await http.GetFromJsonAsync<List<Shared.Models.Badge>>(@"https://localhost:7018/api/Badges/") ?? new List<Shared.Models.Badge>();
    }

    protected void OnAddBadgeClicked()
    {
        navManager.NavigateTo("/Badge/0");
    }
}
