@page "/UserProfile"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Shared.Models;
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>User Profile</PageTitle>
<h3>User Profile</h3>
@if(user != null)
{
    <p>Name: @user.Name</p>
    <p>Email: @user.Email</p>
}

<p>@status</p>
@code {
    string status = "Obtaining user information.";
    UserProfile? user;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await Http.GetFromJsonAsync<UserProfile>("/api/User");
            status = "User information obtained.";
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
