@page "/User"
@using Shared.Models;
@inject IHttpClientFactory HttpClientFactory
<h3>User Page</h3>
<p>
    @Message
</p>
@code {
    public string Message { get; set; } = "Getting user info";
    protected async override Task OnInitializedAsync()
    {
        HttpClient httpClient = HttpClientFactory.CreateClient("BlazorApp.PublicServerAPI");
        await base.OnInitializedAsync();
        Message = await httpClient.GetStringAsync("/api/User") ?? "No response";
    }
}
