
    <div class="top-row ps-3 navbar navbar-dark">
            <a class="navbar-brand" href=""><img src="/images/HackerSpaceLogoBlueGold.png" style="max-height: 40px" /></a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
    </div>

    <div class="@NavMenuCssClass nav-scrollable " @onclick="ToggleNavMenu">

            <div class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Badges">
                        <span class="oi oi-badge" aria-hidden="true"></span> Badges
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/login">
                        <span class="oi oi-badge" aria-hidden="true"></span>Authentication
                    </NavLink>
                </div>
                <div class="nav-item px-3">
            <NavLink class="nav-link" href="/badges/edit">
                        <span class="oi oi-badge" aria-hidden="true"></span>Badge Edit
                    </NavLink>
                </div>
            </div>
    </div>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
