@page "/Badges"
@using Shared.Models;
@using System.Security.Claims
@inject CustomHttpClient http
@inject NavigationManager navManager
<h3>Badges</h3>

@if(_badges == null)
{
    <p>
        ...Loading badges &nbsp;
        <img src="/images/Spur_gears_animation_blue_small.gif" height="30" />
    </p>
}
else if(_badges.Count() == 0)
{
    <p>No badges in database at this time.</p>
}
else
{
    @foreach(Shared.Models.Badge badge in _badges)
    {
        <p>
            <a href="/Badge/@badge.Id">
            <img src="UploadedImages/@badge.FileName" height="50" />
            @badge.Title</a>

            <AuthorizeView Roles="admin">
                <Authorized><button class="btn btn-danger" type="button" @onclick="(()=>OnDeleteBadgeClickedAsync(badge))">Delete Badge</button></Authorized>
            </AuthorizeView>
        </p>
    }
}
<AuthorizeView Roles="admin, badgecreator">
    <Authorized><button class="btn btn-primary" type="button" @onclick="OnAddBadgeClicked">Add Badge</button></Authorized>
</AuthorizeView>
@code {
    private List<Shared.Models.Badge>? _badges;

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _badges = await http.Anonymous.GetFromJsonAsync<List<Shared.Models.Badge>>(@"https://localhost:7018/api/Badges/") ?? new List<Shared.Models.Badge>();
    }

    protected void OnAddBadgeClicked()
    {
        navManager.NavigateTo("/Badge/-1");
    }
    protected async Task OnDeleteBadgeClickedAsync(Shared.Models.Badge badge)
    {
        var result = await http.Secure.DeleteAsync($"/api/Badges/{badge.Id}");
        _badges?.Remove(badge);
    }
}
