@page "/Badge/{Id:int}"

@using Shared.Models
@using System.Net.Http.Headers;
@inject CustomHttpClient http
@inject NavigationManager navManager
@inject IJSRuntime JS

@if (Badge == null)
{
    <p>
        ...loading badge information &nbsp;
        <img src="/images/Spur_gears_animation_blue_small.gif" height="30" />
    </p>
}
else
{
    <AuthorizeView Roles="admin, badgecreator">
        <Authorized>
            <BadgeEditComponent Badge="Badge" />
        </Authorized>
        <NotAuthorized>
            <BadgeComponent Badge="Badge" />
        </NotAuthorized>
    </AuthorizeView>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Shared.Models.Badge? Badge { get; set; } = new();

    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (Id == 0)
        {
            Badge = new();
        }
        else
        {
            Badge = await http.Anonymous.GetFromJsonAsync<Shared.Models.Badge>($"/api/Badges/{Id}") ?? new();
        }
    }
}
