@using Shared.Models;

<h3>@Badge.Title</h3>
<p> <img src="UploadedImages/@Badge.FileName" height="100" /></p>
<h2>Description</h2>
<p>@((MarkupString)Markdig.Markdown.ToHtml(Badge.Description))</p>
<h2>Turn in instructions</h2>
<p>@((MarkupString)Markdig.Markdown.ToHtml(Badge.TurnInInstructions))</p>

@code {
[Parameter]
public Shared.Models.Badge Badge { get; set; }
}
