<h3>@Badge.Title</h3>
<p> <img src="UploadedImages/@Badge.FileName" height="100" /></p>
<h2>Description</h2>
<p><Markdown>Badge.Description</Markdown></p>
<h2>Turn in instructions</h2>
<p><Markdown>Badge.TurnInInstructions</Markdown></p>

@code {
    [Parameter]
    public HackerspaceBadge Badge { get; set; } = default!;
}