/*font for the page*/
body{
    font-family: serif;
}

/*makes it so the enter page is based on putting things on top of each other*/
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*this is to make so the stuff on the page is centered, can be resized easily depending on display*/
.container2{
    display:flex;
    flex-direction: column;
}

/*puts a border around the text next to the image that isn't the caption*/
.about1{
    border: 2px solid black;
}

/*makes it so the content is side-by-side in larger displays*/
@media (min-width: 600px){
    .container2{
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    .container2 > * {
        flex:1;
        height:100%;
    }
}

/*this makes it so the 'welcome to hackerspace' is always on one line and changes size based on display size*/
.title1{
    white-space: nowrap;
    font-size: 5vw;
}

/*adds a border around the image*/
.img-fluid{
    border: 2px solid black;
}

/*adds a border around the text and makes it so it has a minimum and can grow*/
.caption1{
    font-size: clamp(9px, 1vw, 16px);
    border: 2px solid black;
    border-top-style: none;
}
