@page "/Badge/{Id:int}"
@using HackerSpaceWasm.Shared.Models;
@inject IHttpClientFactory HttpClientFactory

@if (_badge == null)
{
    <p>...loading badge information &nbsp; <img src="/images/Spur_gears_animation_blue_small.gif" height="30"/></p>
}
else
{
    <h3>@_badge.Title</h3>
    <p><img src="images/@_badge.FileName" height="100" /> </p>

    <p>@_badge.Description</p>
}



@code {
    [Parameter]
    public int Id { get; set; }
    private Badge _badge;

    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        HttpClient httpClient = HttpClientFactory.CreateClient("BlazorApp.PublicServerAPI");
        _badge = await httpClient.GetFromJsonAsync<Badge>($"/api/Badges/{Id}") ?? new Badge();
    }
}
