@page "/"

<h1>Welcome to HackerSpace</h1>
<p>
    This club is meant for anyone interested in development and innovation using computer technology.
    You don't have to be a programmer! Are you an artist, writer, business innovator? Do you build things?
    This club is meant to bring people of disparate skills together who want to participate in collaboratively
    building things, using computer technology, and competing in technology based competitions.
</p>
<p>
    We have a HackerSpace for building computer and electronics projects.
    We will hold workshops to prepare for participation in activities like local game,
    film and innovation jams, SkillUSA, PiWars, National Cyber League competitions, and
    other group development efforts. We will use this group to announce these workshops as
    well as external training opportunities (often free or low cost).
</p>
<p>
    We will also use this group to manage some long term technology projects that allow us to exercise
    the skills we learn in classes at CNM.
</p>

